*{
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:sans-serif;
    padding-top: 90px;  
}
.header {
    background-color:rgb(104, 104, 104);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.nav {
    display: flex;
    justify-content: space-between;

    max-width: 992px;
    margin: 0 auto;
}
.nav-link {
    color: white;
    text-decoration: none;
}
.portfolio {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
    
}
.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}
.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px; 
}
.nav-menu-link:hover{
    opacity: 0.8;
}
.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
}

/* Aqui va el main  */


.content {
    margin: auto;
}
main {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
main h1 {
    font-size: 1.7rem;
    color: rgb(104, 104, 104);
    text-align: center;
    margin: 1rem;
}
main p {
    color: rgb(104, 104, 104);
    text-align: center;
    margin: 1rem 0;
    width: 600px;
}
.contacto {
    margin: 1.5rem 50%;
    width: 8rem;
    height: 2.5rem;
    font-size: 1.1rem;
    justify-content: center;
    background-color: rgb(104, 104, 104);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.contacto:hover {
    opacity: 0.8;
}
main img {
    height: 50vh;
    margin:0px 150px 0px 100px;
}

/* Programing language*/

.conten-leng {
    width: 100%;
    max-width: 1200px;
    padding-top: 150px;
    justify-content: space-between;
    margin: auto;

}
.conten-leng h2, p{
    color: rgb(104, 104, 104);
}
.conten-leng h2{
    text-align: center;
    font-size: 50px;
    padding-bottom: 100px ;
}
.foto-leng {
    margin: 10px 20px;
    display: inline-block;
    width: 350px;
}
.foto-leng img{
    width: 100%;
    height: auto;
}
.foto-leng:hover {
    border: 1px solid rgb(104, 104, 104);
    transform: rotate(-3deg);
}
.pie {
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 25px;
}

/* Aqui va el footer */

.footer {
    width: 100%;
    padding: 50px 0px;
    background-size: cover;
    position: fixed;
    bottom: 0;
}
.container-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}
.box-footer {
    display: flex;
    flex-direction: column;
    padding: 40px;

}
.box-footer .logo img {
    width: 100px;
    border-radius: 50% 50%;
}
.box-footer .terms {
    max-width: 200px;
    margin-top: 20px;
    font-weight: 500;
    color: #a7a7a7;
    font-size: 15px;
}
.box-footer h2 {
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}
.box-footer a {
    margin-top: 10px;
    color: #a7a7a7;
    font-weight: 600;
    text-decoration: none;
}
.box-footer p {
    margin-top: 10px;
    font-weight: bold;
    color: #a7a7a7;
}
.box-footer a:hover {
    opacity: 0.8;
}
.box-footer a .fab {
    font-size: 20px;
}
.box-copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}
.box-copyright p {
    margin-top: 20px;
    color: #a7a7a7;
}
.box-copyright hr {
    border: none;
    height: 1px;
    background-color: #a7a7a7;
}






@media (max-width: 768px){
    body {
        padding-top: 70px;
    }
    .header {
        height: 60px;
    }
    .portfolio {
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
    }
    .nav-menu {
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    background-color:rgb(104, 104, 104);
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    padding: 0;

    height: calc(100% - 60px);
    overflow-y: auto;

    left: 100%;
    transition: 0.3s;
    }
    .nav-menu-item {
    line-height: 70px;
    }
    .nav-menu-link:hover,
    .nav-menu-link-active{
    background: none;
    color: #034578;
    }
    .nav-toggle {
        display: block;
    }   
    .nav-menu-visible {
        left: 0;
    }
    .nav-toggle:focus:not(:focus-visible) {
        outline: none;
    } 
 /* Aqui va el main */
    main h1 {
    font-size: 1.5rem;
    }
    main p {
    font-size: 0.8rem;
    }
    .contacto {
    margin: 1.5rem 50%;
    width: 5rem;
    height: 2rem;
    font-size: 0.8rem;
    }
    main img {
    height: 40vh;
    margin:0px 100px 0px 100px;
    }
    .content {
        margin-left: 50px;
    }
}